[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
fabric = "*"

[packages]
markdown = "*"
gunicorn = "*"
python-markdown-math = "*"
django = "==2.2.28"
faker = "*"
django-pure-pagination = "*"
elasticsearch = ">=2,<3"
django-haystack = "*"

[requires]
python_version = "3.7"
