[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
fabric = "*"

[packages]
markdown = "*"
gunicorn = "*"
python-markdown-math = "*"
django = "==2.2.3"
faker = "*"
django-pure-pagination = "*"

[requires]
python_version = "3.7"
